#about-container {
    min-height: calc(100vh - 209px - 127px);
    max-width: 1440px;
    margin: 0px auto;
    #block-container {
        display: flex;
        flex-direction: column;
        max-width: 1240px;
        margin: 0 auto;
        margin-bottom: 50px;
        gap: 30px;
    }
}

@media screen and (max-width: 570px) {
    #about-container {
        min-height: calc(100vh - 209px - 75px);
        margin: 0px 20px;
        #block-container {
            gap: 15px;
            margin-bottom: 20px;
        }
    }
}