#location-container{
    max-width: 1440px;
    margin: 0 auto;
    min-height: calc(100vh - 209px - 127px);
}

@media screen and (max-width: 1480px) {
    #location-container {
        margin: 0px 20px;
    }
}