#location-container{
    max-width: 1440px;
    margin: 0 auto;
    min-height: calc(100vh - 209px - 128px);
}

@media screen and (max-width: 1480px) {
    #location-container {
        margin: 0px 20px;
        min-height: calc(100vh - 209px - 106.734px);
    }
}