#ratings-container {
    ul {
        list-style: none;
        display: flex;
        gap: 20px;
    }
}

@media screen and (max-width: 570px) {
    #ratings-container {
        ul {
            gap: 8px;
            li {
                img {
                    width: 14px;
                }
            }
        }
    }
}