#deroulant-container {
    width: 50%;
    #deroulant-contenu {
        @keyframes deroulemant {
            from {
                transform: translateY(-50%);
            }
            to {
                transform: translateY(-0%);
            }
        }
        border-radius: 10px;
        background-color: rgba(246, 246, 246, 1);
        height: 50px;
        overflow: hidden;
        transition: height 2s;
        position: relative;
        #deroulant-titre {
            background-color: rgba(255, 96, 96, 1);
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 10px;
            div {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
            span {
                color: white;
                margin-left: 10px;
            }
            @keyframes rotation {
                from {
                  transform: rotate(360deg);
                }
                to {
                  transform: rotate(180deg);
                }
            }
            img {
                display: flex;
                width: 24px;
                height: 14px;
                justify-content: flex-end;
                margin-right: 10px;
            }
            .deroule {
                animation: rotation .3s 1 linear;
            }
            .inverse {
                rotate: 180deg;
            }
        }
        span {
            color: rgba(255, 96, 96, 1);
            font-weight: 400;
            line-height: 25.67px;
        }
    }
}