#deroulant-container {
    #deroulant-contenu {
        width: 50%;
        border-radius: 10px;
        background-color: rgba(246, 246, 246, 1);
        padding-bottom: 10px;
        #deroulant-titre {
            background-color: rgba(255, 96, 96, 1);
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 10px;
            div {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
            span {
                color: white;
                margin-left: 10px;
            }
            @keyframes rotation {
                from {
                  transform: rotate(360deg);
                }
                to {
                  transform: rotate(180deg);
                }
              }
            img {
                display: flex;
                width: 24px;
                height: 14px;
                justify-content: flex-end;
                margin-right: 10px;
            }
            .deroule {
                animation: rotation 0.5s 1 linear;
            }
            .inverse {
                rotate: 180deg;
            }
        }
        #deroulant-description {
            margin: 30px 20px;
            max-height: 0em;
            animation: max-height 0.5s 1 linear;
            span {
                color: rgba(255, 96, 96, 1);
                font-weight: 400;
                line-height: 25.67px;
            }
            .ouverture {
                max-height: none;
            }
        }
    }
}