@keyframes arrow-rotation {
    from {
      rotate: (0deg);
    }
    to {
      rotate: (180deg);
    }
}

#deroulant-container {
    width: 100%;
    #deroulant-contenu {
        height: 50px;
        border-radius: 10px;
        overflow: hidden;
        background-color: rgba(246, 246, 246, 1);
        transition: height .5s, overflow 1s;
        #deroulant-titre {
            display: flex;
            height: 50px;
            border-radius: 10px;
            flex-direction: column;
            justify-content: center;
            background-color: rgba(255, 96, 96, 1);
            div {
                display: flex;
                width: 100%;
                justify-content: space-between;
                span {
                    color: white;
                    margin-left: 10px;
                }
                img {
                    width: 24px;
                    height: 14px;
                    margin: auto;
                    margin-right: 10px;
                    transition: rotate .3s;
                }
                .arrow-rotation {
                    rotate: 180deg;
                }
            }
        }
        #deroulant-description {
            margin: 20px;
            margin-bottom: 35px;
            p {
                color: rgba(255, 96, 96, 1);
                font-weight: 400;
                line-height: 25.67px;
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: 570px) {
    #deroulant-container {
        #deroulant-contenu {
            height: 30px;
            border-radius: 5px;
            #deroulant-titre {
                height: 30px;
                border-radius: 5px;
                div {
                    span {
                        font-size: 13px;
                    }
                    img {
                        width: 16px;
                        height: 9px;
                    }
                }
            }
            #deroulant-description {
                margin: 10px 20px;
                p {
                    font-size: 12px;
                }
            }
        }
    }
}