*{
    margin: 0;
    padding: 0;
}

#home-container {
    min-height: calc(100vh - 209px - 128px);
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 30px;
}

@media screen and (max-width: 570px) {
    #home-container {
        min-height: calc(100vh - 209px - 106.734px);
        margin: 0;
        padding: 0px 15px;
    }
}