$kasa_gray: rgba(246, 246, 246, 1);

#gallery-container {
    background-color: $kasa_gray;
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    box-sizing: border-box;
    padding: 50px 80px;
}

@media screen and (max-width: 1500px) {
    #gallery-container {
        justify-content: center;
    }
}

@media screen and (max-width: 1079px) {
    #gallery-container {
        gap: 30px;
        padding: 0px;
        background-color: white;
        margin-bottom: 20px;
    }
}