footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 209px;
    .block-container {
        display: flex;
        flex-direction: column;
        margin: auto 0;
        align-items: center;
    }
    p {
        color: white;
    }
}