footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 209px;
    #block-container {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        align-items: center;
        gap: 40px;
        p {
            color: white;
        }
    }
    
}

@media screen and (max-width: 450px) {
    footer {
        #block-container {
            gap: 20px;
            p {
                width: 122px;
                font-size: 12px;
                text-align: center;
            }
        }
    }
}