#hote-container{
    display: flex;
    gap: 10px;
    #hote-name {
        display: flex;
        flex-direction: column;
        height: 64px;
        justify-content: center;
        gap: 7px;
        font-size: 18px;
        color: rgba(255, 96, 96, 1);

    }
    img{
        width: 64px;
        height: 64px;
        border-radius: 32px;
    }
}

@media screen and (max-width: 570px) {
    #hote-container {
        #hote-name {
            font-size: 12px;
            height: 32px;
            gap: 3px;
        }
        img {
            width: 32px;
            height: 32px;
            border-radius: 16px;
        }
    }
}